# Plone backend
PLONE_VERSION=6.1.2
PLONE_PORT=8080

# Volto frontend
VOLTO_VERSION=18.23.0
VOLTO_PORT=3000
RAZZLE_INTERNAL_API_PATH=http://backend:8080/Plone

# PostgreSQL Server
POSTGRES_VERSION=14.15
POSTGRES_HOST=db
POSTGRES_USER=plone
POSTGRES_PASSWORD=jtSdjwghqspy
POSTGRES_PORT=5432
POSTGRES_DB=plone
POSTGRES_DEFAULT_TEXT_SEARCH_CONFIG=POSTGRES_catalog.spanish
POSTGRES_TZ=Europe/Madrid
POSTGRES_PGTZ=CET
