.card-notifications {
  border-radius: 0.885rem; // 14.17px
  border: 2px solid #FFEFCB;
  overflow: hidden;
  width: 100%;
  height: 100%;

  .card-content {
    display: flex;
    flex-direction: column;
    gap: 1rem; // 16px
    padding: 1rem; // 16px
    position: relative;
    width: 100%;
    height: 100%;

    .notification-content {
      display: flex;
      gap: 1.5rem; // 24px
      align-items: center;
      width: 100%;
      height: 10.5rem; // 168px

      .notification-image {
        width: 7.5rem; // 120px
        height: 7.5rem; // 120px
        flex-shrink: 0;

        .image-wrapper {
          width: 100%;
          height: 100%;
          background: #2E2000;
          border-radius: 0.75rem; // 12px
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
        }
      }

      .notification-details {
        height: 100%;
        width: 23.1875rem; // 371px
        position: relative;

        .text-content {
          display: flex;
          flex-direction: column;
          gap: 0.25rem; // 4px
          width: 100%;

          .notification-status {
            font-family: 'Open Sans', sans-serif;
            font-weight: 400;
            font-size: 1.125rem; // 18px
            line-height: 1.6;
            color: #9A0334;
            height: 2.125rem; // 34px
          }

          .notification-title {
            font-family: 'Open Sans', sans-serif;
            font-weight: 700;
            font-size: 1.5rem; // 24px
            line-height: 1.6;
            color: #070500;
            margin: 0;
          }

          .notification-link {
            display: flex;
            align-items: center;
            gap: 0.25rem;
            padding-right: 1rem;
            text-decoration: none;
            height: 2.75rem; // 44px
            border-radius: 6.1875rem; // 99px

            span {
              font-family: 'Open Sans', sans-serif;
              font-weight: 600;
              font-size: 1rem; // 16px
              line-height: 1;
              color: #F2A900;
              text-align: center;
            }

            .icon {
              width: 1.5rem; // 24px
              height: 1.5rem;
              display: flex;
              align-items: center;
              justify-content: center;
              overflow: hidden;

              svg {
                width: 0.9375rem; // 15px
                height: 0.75rem; // 12px
                transform: rotate(-30deg);
              }
            }

            &:hover {
              span {
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .card-notifications {
    .card-content {
      .notification-content {
        flex-direction: column;
        height: auto;
        gap: 1rem;

        .notification-image {
          width: 100%;
          height: 12rem;

          .image-wrapper {
            width: 100%;
            height: 100%;
          }
        }

        .notification-details {
          width: 100%;

          .text-content {
            .notification-title {
              font-size: 1.25rem;
            }

            .notification-status {
              font-size: 1rem;
            }
          }
        }
      }
    }
  }
}
