@use 'sass:math';

// Main Colors
$primary-color: #fe7600;
$secondary-color: #AD033B;
$terciary-color: #D4C9AD;
$dark-100: #2E2000;
$dark-200: #070500;
$yellow-hover-menu: #F2A900;

$primary-300-s2: #ffefcb;
$primary-1600-s2: #cb8e00;
$primary-1400-s2: #f2a900;
$ocher-200-s2: #f6f3ed;
$ocher-400-s2: #e1dac7;
$ocher-600-s2: #d4c9ad;
$black-s2: #1a202c;
$white: #ffffff;

// Fonts
$custom-fontname: 'Open Sans' !default;
$page-font-template: $custom-fontname, sans-serif !default;

// Other variables
$link-color: $dark-200;
$link-color-hover: $yellow-hover-menu;
