@use 'sass:math';

// Main Colors
$primary-color: #fe7600;
$secondary-color: #AD033B;
$terciary-color: #D4C9AD;
$dark-100: #2E2000;
$dark-200: #070500;
$yellow-hover-menu: #F2A900;

$white: #ffffff;
$black-200: #070500;
$primary-color-s1: #f2a900;
$secondary-dark-s1: rgba(57, 1, 20, 0.7);
$background-light-s1: #f3f3f3;

// Fonts
$custom-fontname: 'Open Sans' !default;
$page-font-template: $custom-fontname, sans-serif !default;

// Other variables
$link-color: $dark-200;
$link-color-hover: $yellow-hover-menu;
